<div>
  <div class="label">
    <span></span>
    <p class="breakdown-label">{{label}}</p>
    <span class="material-symbols-outlined">
      {{icon}}
    </span>
  </div>
  <p class="breakdown-value" id={{label}}>{{unit}}</p>
</div>