<header>
  {{!-- <a href="/"> --}}
    <img class="logo" src="/assets/weather.svg" alt="weather-logo" />
  {{!-- </a>
  <nav> --}}
    {{!-- <a href="/">Weather</a> --}}
    {{!-- <a href="/about">About</a>
    <a href="/help">Help</a> --}}
  {{!-- </nav> --}}
</header>