body {
  color: rgb(206, 206, 206);
  background-color: #141526;
  background-image: url("/assets/background.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 48px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 16px 16px;
  padding-bottom: 25px;
  background-color: transparent;
}

footer {
  background-color: #141526b0;
  padding: 16px 0;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: rgb(223, 223, 223);
  margin-right: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

nav a:hover {
  color: #1fc7fa;
}

.logo {
  cursor: pointer;
  height:50px;
}

.logo:hover {
  filter:brightness(100);
}

.profile-photo {
  width: 250px;
}

#weather-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#weather-icon:hover {
  /* filter: invert(32%) sepia(264) saturate(40) hue-rotate(156deg) brightness(94%)
    contrast(90%); */
}

.weather-icon_container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.15); */
}

.weather-icon_container:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

.main-content {
  flex-grow: 1;
}

.weather-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  align-items: flex-start;
}

.location-input {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #14152690;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 0 10px;
}

.breakdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.breakdown > div {
  border: 1px solid #1cb5e4;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #26274180;
  margin: 0 5px;
  border-radius: 15px;
}

#message-1 {
  font-size: 25pt;
  margin: 0;
}

#message-2 {
  margin: 5px 0;
  font-size: 48pt;
}

#feelslike {
  margin: 0;
  font-size: 16pt;
}

.label {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: baseline;
}

.label span:last-child {
  justify-self: flex-end;
  /* font-size: 25pt; */
  color:#fff
}

.breakdown-label {
  color: #ffffff;
  letter-spacing: 1;
  text-transform: capitalize;
}

.breakdown-value {
  font-size: 30pt;
  font-weight: bold;
  color: #1cb5e4;
  margin-top: 5px;
  margin-bottom: 10px;
}

#location {
  letter-spacing: 1px;
  font-size: 25pt;
  max-width: 400px;
  margin: 0;
  color: #fff;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  width: 100%;
}

input {
  padding: 15px;
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
}

input:focus {
  outline-width: 0;
  border-color: #1cb5e4;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  transform: rotateZ(90deg);
}

button:hover {
  color: #1cb5e4;
}

@media only screen and (max-width: 900px) {
  .weather-form {
    flex-direction: column;
    align-items: center;
  }

  .top-container {
    align-items: center;
  }

  .breakdown {
    flex-direction: row;
    justify-content: center;
  }
}
